<form class="ui form">
  <div class="field">
    {{textarea
      value=newNote.message
      placeholder="Soukromá poznámka"
      rows="4"
    }}
  </div>
  {{!-- Save note button.
        Disabled, unless any text in message is written --}}
  {{c-form-button
      loading=newNote.isSaving
      disabled=(unless newNote.message true)
      icon="plus"
      click=(action "insertNote")
      label="Přidat"
      class="private-note-add"
  }}
</form>


<div class="private-note-cards ui cards">
  {{#each privateNotes as |privateNote|}}
    {{c-private-notes-row class="private-note-card ui card" privateNote=privateNote}}
  {{/each}}
</div>
