{{!-- pokus pro git --}}
<td>
  {{date-display privateNote.datetime "long"}}<br/>
  {{privateNote.userName}}
  {{!-- delete icon visible for notes not older then 15 minutes: --}}
  {{#if canBeDeleted}}
    <a><i class="big trash icon" {{action (action "deleteNote" privateNote)}}></i></a>
  {{/if}}
</td>
<td>
  {{nl-to-br privateNote.message}}
</td>
