.private-note-cards { margin: 20px 0 0 !important; }
.private-note-add { margin: -5px 0 0 !important; }
/* 1px on the left side must be here not to cut shadow by text-overflow: hidden */
.private-note-card { width: 100% !important; margin: 0 0 15px 1px !important; }
.private-note-card > .content > .header { overflow: hidden; white-space: nowrap; }
.private-note-card > .content > i { font-size: 17px; cursor: pointer; margin: 6px -2px 0 0; }
.private-note-card > .content > .meta { margin: -11px 0 0 50px; }
